body {
  background-color: #242424;
}

textarea {
  min-width: 300px;
  min-height: 300px;
  margin-top: 5px;
  border-radius: 10px;
  padding: 10px;
  font-size: 17px;
  resize: none;
}
textarea:disabled {
  background-color: white;
  color: black;
}
